<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miraewiz.homepage.mapper.SiteContentMapper">
    <select id="findAll" resultType="com.miraewiz.homepage.model.SiteContent">
        SELECT * FROM site_contents
    </select>
    <select id="findByKey" resultType="com.miraewiz.homepage.model.SiteContent">
        SELECT * FROM site_contents WHERE content_key = #{contentKey}
    </select>
</mapper>
